/* src/styles/globals.css */
@import 'tailwindcss';
@source "../**/*.{js,ts,jsx,tsx}";

/* استایل‌های سفارشی */
:root {
  --font-sans: var(--font-inter), system-ui, -apple-system, sans-serif;
}

html {
  font-family: var(--font-sans);
}

/* برای راست‌چین بودن کل سند */
body {
  direction: rtl;
}